* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --btn-hover-color: #171100;
    --info-text-color: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ------------- Common -------------  */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: #171100;
    border-radius: 999px;
    min-width: 118px;
    line-height: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}
/* ------------- Common -------------  */

/* ------------- Header -------------  */
.header {
    background: #fffcf4;
}
header .body {
    display: flex;
    padding: 36px 0 8px;
    align-items: center;
}

header {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 42px;
}

.nav li a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav li a:hover {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav li a:hover::before {
    position: absolute;
    left: 1px;
    bottom: -3px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .action .btn {
    min-width: 144px;
}
/* ------------- Header -------------  */

/* ------------- Hero -------------  */
.hero {
    background: #fffcf4;
    padding-top: 56px;
}
.hero .body {
    display: flex;
    padding-bottom: 68px;
}
/* Hero Left side */
.img-block {
    position: relative;
    display: block;
}
.img-block .main-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.img-block .hero-summary {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.img-block .courses-list {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.img-block .courses-list:last-child {
    display: flex;
    margin-bottom: 0px;
}

.hero-summary .courses-list .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.hero-summary .courses-list:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .courses-list:last-of-type .icon {
    background: #ebeaff;
}

.img-block .hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .lable {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
    font-weight: 400;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
}
/* -------- */
/* Hero Right side */
.hero .info-block {
    width: 52%;
    margin: 64px 0 0 230px;
}

.hero .info-block h1 {
    color: #171100;
    font-family: Sen, "sans-serif";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -0.116rem;
    /* width: 470px; */
}

.hero .info-block .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    /* width: 470px; */
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero-cta:hover {
    opacity: 80%;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 14px;
}

.hero .info-block .stats-title {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .info-block .stats {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    margin-right: 28px;
}

.hero .info-block strong {
    color: #171100;
    font-family: Sen, "sans-serif";
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
}
/* ------------- Popular -------------  */
.popular {
    background: #9fd6bc;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* ------------- Popular Top -------------  */

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .heading {
    color: #171100;
    font-family: Sen, "sans-serif";
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.076rem;
}

.popular-top .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    width: 458px;
    line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
    display: flex;
}

.popular-top .control-btns {
    position: relative;
    border: none;
    background: transparent;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 100%;
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

.popular-top .control-btn:last-of-type {
    margin-left: 20px;
}
/* ------------- End Popular Top -------------  */

/* ------------- Popular List -------------  */

.popular .courses-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}

.popular .course-item .thumb {
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
    object-fit: cover;
    width: calc(100% + 1.5px);
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .tilte {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .rating img {
    width: 18px;
    height: 18px;
}

.popular .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}
.popular .courses-list .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.popular .courses-list .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popular .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}
/* ------------- End Popular -------------  */

/* ------------- Feedback -------------  */
.feedback {
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    padding: 96px 0;
    justify-content: space-between;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    /* this is for JavaScrip to move the item to the left  */
    /* transform: translateX(-200%);
    transition: all ease 0.3s; */
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .student-name {
    color: #f7f7f7;
    font-family: Sen, " sans-serif";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .student-major {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .quote-part {
    width: 66%;
}

.feedback-item blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
    margin-left: 38px;
}
/* ------------- End Feedback -------------  */

/* ------------- Feature-1 -------------  */
.features {
    background: #ccc;
}

.feature-1 {
    display: flex;
    margin: 200px 0;
    justify-content: space-between;
}

.features .feature-1 .img-block {
    display: flex;
    margin-right: 130px;
}

.feature-1 .img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.feature-1 .img:nth-of-type(1) {
    /* position: absolute;
    top: -50px;
    left: 300px; */
    margin: 34px 30px 0 0;
}

.feature-1 .info-block {
    margin-top: 58px;
}

.features .title {
    /* margin-top: 58px; */
    color: #171100;
    font-family: Sen, " sans-serif";
    font-size: 3.8rem;
    font-weight: 700;
    /* line-height: 1.26; 126.316% */
    letter-spacing: -0.076rem;
}

.features .desc {
    margin: 16px 0;
    color: #5f5b53;
    font-size: 2rem;
    line-height: 1.75; /* 175% */
}

.features span {
    display: block;
    color: #5f5b53;
    font-size: 2rem;
    line-height: 2.8rem; /* 175% */
}

.features .btn {
    margin-top: 32px;
    border: none;
    background: var(--primary-color);
}

.features .btn:hover {
    opacity: 0.8;
}

.feature-2 {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-bottom: 200px;
}

.feature-2 .info-block {
    margin-top: 71px;
}

.feature-2 .img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}
